In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./owid-covid-data.csv")

In [3]:
user1_columns = [

       #Main
       'iso_code', 'continent', 'location', 'date','population',

       'total_cases',
       'new_cases',

       'total_vaccinations',
       'people_vaccinated',	

       'total_tests',
       'new_tests',

       # Confirmed cases
       'new_cases_smoothed',
       'total_cases_per_million',
       'new_cases_per_million',
       'new_cases_smoothed_per_million',

       # Vaccinations
       'people_fully_vaccinated',	
       'total_boosters',
       'new_vaccinations',	
       'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred',	
       'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred',	
       'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',	
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred',

       # Tests & positivity
       'total_tests_per_thousand',
       'new_tests_per_thousand',
       'new_tests_smoothed',
       'new_tests_smoothed_per_thousand',	
       'positive_rate',
       'tests_per_case',	
       'tests_units',
]

user2_columns = [
       #Main
       'iso_code', 'continent', 'location', 'date',

       'population',
       'total_cases',
       'new_cases',

       'total_tests',
       'new_tests',

       'total_deaths',
       'new_deaths',

       'icu_patients',
       'hosp_patients',
       'population_density',
       'median_age',
       'aged_65_older',	
       'aged_70_older',
       'gdp_per_capita',	
       'extreme_poverty',
       'cardiovasc_death_rate',
       'diabetes_prevalence',
       'human_development_index',

       #Others
       
       'female_smokers',
       'male_smokers',
       'handwashing_facilities',
       'hospital_beds_per_thousand',
       'life_expectancy',
       

       # Confirmed cases
       'new_cases_smoothed',
       'total_cases_per_million',
       'new_cases_per_million',
       'new_cases_smoothed_per_million',

       # Tests & positivity
       'new_tests_smoothed',
       'new_tests_smoothed_per_thousand',	
       'positive_rate',
       'tests_per_case',	
       'tests_units',

       # Confirmed deaths
       'new_deaths_smoothed',
       'total_deaths_per_million',
       'new_deaths_per_million',
       'new_deaths_smoothed_per_million',	

       # Excess mortality
       'excess_mortality_cumulative_absolute',
       'excess_mortality_cumulative',
       'excess_mortality',
       'excess_mortality_cumulative_per_million',

       # Hospital & ICU
       'icu_patients_per_million',
       'hosp_patients_per_million',
       'weekly_icu_admissions',
       'weekly_icu_admissions_per_million',
       'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million',	
]

In [4]:
df_usersort_user1 = df[user1_columns[:11]]
print("number of samples:",df.shape[0])
print("number of countries:",len(df_usersort_user1.iloc[:,2].unique()))
print("Contries", list(df_usersort_user1.iloc[:,2].unique()))
df_usersort_user1.isna().sum()

number of samples: 187572
number of countries: 244
Contries ['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'European Union', 'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low income', 'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North America', 'North Korea', 'North Macedonia', 'Northern Cyprus', 'Northern Mariana Islands', 'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South America', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Virgin Islands', 'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna', 'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe']

iso_code                   0
continent              10918
location                   0
date                       0
population              1149
total_cases             7402
new_cases               7618
total_vaccinations    136651
people_vaccinated     139076
total_tests           110940
new_tests             113961
dtype: int64

In [5]:
df_usersort_user2 = df[user2_columns[:22]]
print("number of samples:",df.shape[0])
print("number of countries:",len(df_usersort_user2.iloc[:,2].unique()))
print("Contries", list(df_usersort_user2.iloc[:,2].unique()))
df_usersort_user2.isna().sum()

number of samples: 187572
number of countries: 244
Contries ['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'European Union', 'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low income', 'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North America', 'North Korea', 'North Macedonia', 'Northern Cyprus', 'Northern Mariana Islands', 'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South America', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Virgin Islands', 'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna', 'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe']

iso_code                        0
continent                   10918
location                        0
date                            0
population                   1149
total_cases                  7402
new_cases                    7618
total_tests                110940
new_tests                  113961
total_deaths                25772
new_deaths                  25780
icu_patients               163229
hosp_patients              161970
population_density          20432
median_age                  32624
aged_65_older               34267
aged_70_older               33437
gdp_per_capita              33495
extreme_poverty             86947
cardiovasc_death_rate       32968
diabetes_prevalence         25419
human_development_index     36975
dtype: int64

In [6]:
#for i in range(244):
#    print(len(df_usersort_user1[ df_usersort_user1.iloc[:,2] == list(df_usersort_user1.iloc[:,2].unique())[i]]["date"]))
#print(np.min(list(df_usersort_user1["date"].unique())))
#print(np.max(list(df_usersort_user1["date"].unique())))
print(df_usersort_user1.head())

  iso_code continent     location        date  population  total_cases  \
0      AFG      Asia  Afghanistan  2020-02-24  39835428.0          5.0
1      AFG      Asia  Afghanistan  2020-02-25  39835428.0          5.0
2      AFG      Asia  Afghanistan  2020-02-26  39835428.0          5.0
3      AFG      Asia  Afghanistan  2020-02-27  39835428.0          5.0
4      AFG      Asia  Afghanistan  2020-02-28  39835428.0          5.0

   new_cases  total_vaccinations  people_vaccinated  total_tests  new_tests
0        5.0                 NaN                NaN          NaN        NaN
1        0.0                 NaN                NaN          NaN        NaN
2        0.0                 NaN                NaN          NaN        NaN
3        0.0                 NaN                NaN          NaN        NaN
4        0.0                 NaN                NaN          NaN        NaN

In [7]:
dates = pd.date_range(start="2020-01-01", end="2022-05-16", freq="D")
print(len(dates))

867

In [8]:
dates = pd.date_range(start="2020-01-01", end="2022-05-16", freq="D")
idx = pd.date_range('01.01.2000', '02.01.2000')

print(df_usersort_user1.shape)
final_df = pd.DataFrame()
for i in range(244):
    
    new_df = df_usersort_user1[df_usersort_user1.iloc[:,2] == list(df_usersort_user1.iloc[:,2].unique())[i]]
    new_df.index = pd.DatetimeIndex(new_df["date"]) 
    new_df = new_df.reindex(dates, fill_value=np.nan)
    new_df.reset_index(inplace=True)
    new_df["index"] = dates
    new_df = new_df.drop(["date"], axis=1)
    new_df.rename(columns= {"index": "date"}, inplace=True)
    new_df['date'] = pd.to_datetime(new_df['date'], format="%Y-%m-%d")
    final_df = pd.concat([final_df, pd.DataFrame.from_records(new_df)])
print(final_df.shape)
final_df.head(10)
print(final_df)

(187572, 11)
(211548, 11)
          date iso_code continent  location  population  total_cases  \
0   2020-01-01      NaN       NaN       NaN         NaN          NaN
1   2020-01-02      NaN       NaN       NaN         NaN          NaN
2   2020-01-03      NaN       NaN       NaN         NaN          NaN
3   2020-01-04      NaN       NaN       NaN         NaN          NaN
4   2020-01-05      NaN       NaN       NaN         NaN          NaN
..         ...      ...       ...       ...         ...          ...
862 2022-05-12      ZWE    Africa  Zimbabwe  15092171.0     248943.0
863 2022-05-13      ZWE    Africa  Zimbabwe  15092171.0     249131.0
864 2022-05-14      ZWE    Africa  Zimbabwe  15092171.0     249206.0
865 2022-05-15      ZWE    Africa  Zimbabwe  15092171.0     249206.0
866 2022-05-16      ZWE    Africa  Zimbabwe  15092171.0     249431.0

     new_cases  total_vaccinations  people_vaccinated  total_tests  new_tests
0          NaN                 NaN                NaN          NaN        NaN
1          NaN                 NaN                NaN          NaN        NaN
2          NaN                 NaN                NaN          NaN        NaN
3          NaN                 NaN                NaN          NaN        NaN
4          NaN                 NaN                NaN          NaN        NaN
..         ...                 ...                ...          ...        ...
862      301.0          10927750.0          6013031.0          NaN        NaN
863      188.0          11006269.0          6030325.0          NaN        NaN
864       75.0          11153964.0          6067791.0          NaN        NaN
865        0.0          11336359.0          6117318.0    2287793.0        NaN
866      225.0          11456837.0          6153538.0          NaN        NaN

[211548 rows x 11 columns]

In [9]:
final_df_1 = final_df.copy()
final_df.to_csv("Final_DF.csv")
grouped_continent = final_df.groupby(['continent','date'], dropna=False).sum()
grouped_continent["Percentage"] = grouped_continent["total_cases"] / grouped_continent["population"] * 100
grouped_continent["Percentage_vaccines"] = grouped_continent["total_vaccinations"] / grouped_continent["population"] * 100
temp = grouped_continent.index.to_frame()

# deconstruct the date
grouped_continent["year"] = [int(str(temp.iloc[:, 1][i])[0:4]) for i in range(len(temp))]
grouped_continent["month"] = [int(str(temp.iloc[:, 1][i])[5:7]) for i in range(len(temp))]
grouped_continent["day"] = [int(str(temp.iloc[:, 1][i])[8:10]) for i in range(len(temp))]
grouped_continent.to_csv("Continent_grouped.csv")

grouped_continent

                        population   total_cases  new_cases  \
continent date
Africa    2020-02-07  9.738678e+07  0.000000e+00        0.0
          2020-02-08  9.738678e+07  0.000000e+00        0.0
          2020-02-09  9.738678e+07  0.000000e+00        0.0
          2020-02-10  9.738678e+07  0.000000e+00        0.0
          2020-02-11  9.738678e+07  0.000000e+00        0.0
...                            ...           ...        ...
NaN       2022-05-12  2.392152e+10  1.700335e+09  2148827.0
          2022-05-13  2.392152e+10  1.702175e+09  1840133.0
          2022-05-14  2.392152e+10  1.703708e+09  1532994.0
          2022-05-15  2.392152e+10  1.704814e+09  1106197.0
          2022-05-16  2.392152e+10  1.706613e+09  1798904.0

                      total_vaccinations  people_vaccinated  total_tests  \
continent date
Africa    2020-02-07        0.000000e+00       0.000000e+00         51.0
          2020-02-08        0.000000e+00       0.000000e+00          0.0
          2020-02-09        0.000000e+00       0.000000e+00          0.0
          2020-02-10        0.000000e+00       0.000000e+00          0.0
          2020-02-11        0.000000e+00       0.000000e+00         61.0
...                                  ...                ...          ...
NaN       2022-05-12        3.594003e+10       1.582508e+10          0.0
          2022-05-13        3.595710e+10       1.582734e+10          0.0
          2022-05-14        3.597099e+10       1.582957e+10          0.0
          2022-05-15        3.604683e+10       1.584360e+10          0.0
          2022-05-16        3.591971e+10       1.574151e+10          0.0

                      new_tests  Percentage  Percentage_vaccines  year  month  \
continent date
Africa    2020-02-07        0.0    0.000000             0.000000  2020      2
          2020-02-08        0.0    0.000000             0.000000  2020      2
          2020-02-09        0.0    0.000000             0.000000  2020      2
          2020-02-10        0.0    0.000000             0.000000  2020      2
          2020-02-11        0.0    0.000000             0.000000  2020      2
...                         ...         ...                  ...   ...    ...
NaN       2022-05-12        0.0    7.107974           150.241450  2022      5
          2022-05-13        0.0    7.115666           150.312795  2022      5
          2022-05-14        0.0    7.122074           150.370869  2022      5
          2022-05-15        0.0    7.126699           150.687918  2022      5
          2022-05-16        0.0    7.134219           150.156489  2022      5

                      day
continent date
Africa    2020-02-07    7
          2020-02-08    8
          2020-02-09    9
          2020-02-10   10
          2020-02-11   11
...                   ...
NaN       2022-05-12   12
          2022-05-13   13
          2022-05-14   14
          2022-05-15   15
          2022-05-16   16

[5983 rows x 12 columns]

In [10]:
final_df_1 = final_df.copy()
iso_codes = pd.read_csv("Iso_codes.csv")
iso_codes = iso_codes.rename(columns={"English short name lower case" : "location"})
iso_codes = iso_codes.rename(columns={"Alpha-3 code" : "iso_code"})
grouped_countries = final_df.groupby(['continent', 'location','date'], dropna=False).sum()
grouped_countries["Percentage"] = grouped_countries["total_cases"] / grouped_countries["population"] * 100
grouped_countries["Percentage_vaccines"] = grouped_countries["total_vaccinations"] / grouped_countries["population"] * 100
temp = grouped_countries.index.to_frame()

# deconstruct the date
grouped_countries["year"] = [int(str(temp.iloc[:, 2][i])[0:4]) for i in range(len(temp))]
grouped_countries["month"] = [int(str(temp.iloc[:, 2][i])[5:7]) for i in range(len(temp))]
grouped_countries["day"] = [int(str(temp.iloc[:, 2][i])[8:10]) for i in range(len(temp))]
grouped_countries["continent"] = [x[0] for x in grouped_countries.index]
grouped_countries["complete_dates"] = [x[2] for x in grouped_countries.index]
grouped_countries = grouped_countries.merge(iso_codes, "left", on="location")
grouped_countries.to_csv("countries_grouped.csv")

grouped_countries

,location,population,total_cases,new_cases,total_vaccinations,people_vaccinated,total_tests,new_tests,Percentage,Percentage_vaccines,year,month,day,continent,complete_dates,Alpha-2 code,iso_code,Numeric code,ISO 3166-2
0,Algeria,44616626.0,1.0,1.0,0.0,0.0,0.0,0.0,0.000002,0.0,2020,2,25,Africa,2020-02-25,DZ,DZA,12.0,ISO 3166-2:DZ
1,Algeria,44616626.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000002,0.0,2020,2,26,Africa,2020-02-26,DZ,DZA,12.0,ISO 3166-2:DZ
2,Algeria,44616626.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000002,0.0,2020,2,27,Africa,2020-02-27,DZ,DZA,12.0,ISO 3166-2:DZ
3,Algeria,44616626.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000002,0.0,2020,2,28,Africa,2020-02-28,DZ,DZA,12.0,ISO 3166-2:DZ
4,Algeria,44616626.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000002,0.0,2020,2,29,Africa,2020-02-29,DZ,DZA,12.0,ISO 3166-2:DZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187975,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2022,5,12,NaN,2022-05-12,NaN,NaN,NaN,NaN
187976,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2022,5,13,NaN,2022-05-13,NaN,NaN,NaN,NaN
187977,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2022,5,14,NaN,2022-05-14,NaN,NaN,NaN,NaN
187978,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2022,5,15,NaN,2022-05-15,NaN,NaN,NaN,NaN
187979,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2022,5,16,NaN,2022-05-16,NaN,NaN,NaN,NaN

In [11]:
grouped_countries.head(5)

,location,population,total_cases,new_cases,total_vaccinations,people_vaccinated,total_tests,new_tests,Percentage,Percentage_vaccines,year,month,day,continent,complete_dates,Alpha-2 code,iso_code,Numeric code,ISO 3166-2
0,Algeria,44616626.0,1.0,1.0,0.0,0.0,0.0,0.0,0.000002,0.0,2020,2,25,Africa,2020-02-25,DZ,DZA,12.0,ISO 3166-2:DZ
1,Algeria,44616626.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000002,0.0,2020,2,26,Africa,2020-02-26,DZ,DZA,12.0,ISO 3166-2:DZ
2,Algeria,44616626.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000002,0.0,2020,2,27,Africa,2020-02-27,DZ,DZA,12.0,ISO 3166-2:DZ
3,Algeria,44616626.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000002,0.0,2020,2,28,Africa,2020-02-28,DZ,DZA,12.0,ISO 3166-2:DZ
4,Algeria,44616626.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000002,0.0,2020,2,29,Africa,2020-02-29,DZ,DZA,12.0,ISO 3166-2:DZ

In [12]:
grouped_countries.shape

(187980, 19)

In [13]:
df_usersort_user2.columns

Index(['iso_code', 'continent', 'location', 'date', 'population',
       'total_cases', 'new_cases', 'total_tests', 'new_tests', 'total_deaths',
       'new_deaths', 'icu_patients', 'hosp_patients', 'population_density',
       'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita',
       'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence',
       'human_development_index'],
      dtype='object')

In [14]:
final_df_1 = df_usersort_user2.copy()
iso_codes = pd.read_csv("Iso_codes.csv")
iso_codes = iso_codes.rename(columns={"English short name lower case" : "location"})
iso_codes = iso_codes.rename(columns={"Alpha-3 code" : "iso_code"})
grouped_countries = df_usersort_user2.groupby(['continent', 'location','date'], dropna=False).sum()
temp = grouped_countries.index.to_frame()

grouped_countries

                                 population  total_cases  new_cases  \
continent location date
Africa    Algeria  2020-02-25  4.461663e+07          1.0        1.0
                   2020-02-26  4.461663e+07          1.0        0.0
                   2020-02-27  4.461663e+07          1.0        0.0
                   2020-02-28  4.461663e+07          1.0        0.0
                   2020-02-29  4.461663e+07          1.0        0.0
...                                     ...          ...        ...
NaN       World    2022-05-14  7.874966e+09  521182023.0   465499.0
                   2022-05-15  7.874966e+09  521530023.0   348000.0
                   2022-05-16  7.874966e+09  522086681.0   556658.0
                   2022-05-17  7.874966e+09  522749874.0   663484.0
                   2022-05-18  7.874966e+09  523452560.0   702686.0

                               total_tests  new_tests  total_deaths  \
continent location date
Africa    Algeria  2020-02-25          0.0        0.0           0.0
                   2020-02-26          0.0        0.0           0.0
                   2020-02-27          0.0        0.0           0.0
                   2020-02-28          0.0        0.0           0.0
                   2020-02-29          0.0        0.0           0.0
...                                    ...        ...           ...
NaN       World    2022-05-14          0.0        0.0     6265003.0
                   2022-05-15          0.0        0.0     6265629.0
                   2022-05-16          0.0        0.0     6267383.0
                   2022-05-17          0.0        0.0     6269316.0
                   2022-05-18          0.0        0.0     6271641.0

                               new_deaths  icu_patients  hosp_patients  \
continent location date
Africa    Algeria  2020-02-25         0.0           0.0            0.0
                   2020-02-26         0.0           0.0            0.0
                   2020-02-27         0.0           0.0            0.0
                   2020-02-28         0.0           0.0            0.0
                   2020-02-29         0.0           0.0            0.0
...                                   ...           ...            ...
NaN       World    2022-05-14       894.0           0.0            0.0
                   2022-05-15       626.0           0.0            0.0
                   2022-05-16      1754.0           0.0            0.0
                   2022-05-17      1941.0           0.0            0.0
                   2022-05-18      2381.0           0.0            0.0

                               population_density  median_age  aged_65_older  \
continent location date
Africa    Algeria  2020-02-25              17.348        29.1          6.211
                   2020-02-26              17.348        29.1          6.211
                   2020-02-27              17.348        29.1          6.211
                   2020-02-28              17.348        29.1          6.211
                   2020-02-29              17.348        29.1          6.211
...                                           ...         ...            ...
NaN       World    2022-05-14              58.045        30.9          8.696
                   2022-05-15              58.045        30.9          8.696
                   2022-05-16              58.045        30.9          8.696
                   2022-05-17              58.045        30.9          8.696
                   2022-05-18              58.045        30.9          8.696

                               aged_70_older  gdp_per_capita  extreme_poverty  \
continent location date
Africa    Algeria  2020-02-25          3.857       13913.839              0.5
                   2020-02-26          3.857       13913.839              0.5
                   2020-02-27          3.857       13913.839              0.5
                   2020-02-28          3.857       13913.839              0.5
                   2020-02-29          3.857       13913.839              0.5
...                                      ...             ...              ...
NaN       World    2022-05-14          5.355       15469.207             10.0
                   2022-05-15          5.355       15469.207             10.0
                   2022-05-16          5.355       15469.207             10.0
                   2022-05-17          5.355       15469.207             10.0
                   2022-05-18          5.355       15469.207             10.0

                               cardiovasc_death_rate  diabetes_prevalence  \
continent location date
Africa    Algeria  2020-02-25                278.364                 6.73
                   2020-02-26                278.364                 6.73
                   2020-02-27                278.364                 6.73
                   2020-02-28                278.364                 6.73
                   2020-02-29                278.364                 6.73
...                                              ...                  ...
NaN       World    2022-05-14                233.070                 8.51
                   2022-05-15                233.070                 8.51
                   2022-05-16                233.070                 8.51
                   2022-05-17                233.070                 8.51
                   2022-05-18                233.070                 8.51

                               human_development_index
continent location date
Africa    Algeria  2020-02-25                    0.748
                   2020-02-26                    0.748
                   2020-02-27                    0.748
                   2020-02-28                    0.748
                   2020-02-29                    0.748
...                                                ...
NaN       World    2022-05-14                    0.737
                   2022-05-15                    0.737
                   2022-05-16                    0.737
                   2022-05-17                    0.737
                   2022-05-18                    0.737

[187572 rows x 18 columns]

In [15]:


# deconstruct the date
grouped_countries["year"] = [int(str(temp.iloc[:, 2][i])[0:4]) for i in range(len(temp))]
grouped_countries["month"] = [int(str(temp.iloc[:, 2][i])[5:7]) for i in range(len(temp))]
grouped_countries["day"] = [int(str(temp.iloc[:, 2][i])[8:10]) for i in range(len(temp))]
grouped_countries["continent"] = [x[0] for x in grouped_countries.index]
grouped_countries["complete_dates"] = [x[2] for x in grouped_countries.index]
grouped_countries = grouped_countries.merge(iso_codes, "left", on="location")
grouped_countries.to_csv("countries_grouped_health.csv")

grouped_countries

,location,population,total_cases,new_cases,total_tests,new_tests,total_deaths,new_deaths,icu_patients,hosp_patients,...,human_development_index,year,month,day,continent,complete_dates,Alpha-2 code,iso_code,Numeric code,ISO 3166-2
0,Algeria,4.461663e+07,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.748,2020,2,25,Africa,2020-02-25,DZ,DZA,12.0,ISO 3166-2:DZ
1,Algeria,4.461663e+07,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.748,2020,2,26,Africa,2020-02-26,DZ,DZA,12.0,ISO 3166-2:DZ
2,Algeria,4.461663e+07,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.748,2020,2,27,Africa,2020-02-27,DZ,DZA,12.0,ISO 3166-2:DZ
3,Algeria,4.461663e+07,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.748,2020,2,28,Africa,2020-02-28,DZ,DZA,12.0,ISO 3166-2:DZ
4,Algeria,4.461663e+07,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.748,2020,2,29,Africa,2020-02-29,DZ,DZA,12.0,ISO 3166-2:DZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187567,World,7.874966e+09,521182023.0,465499.0,0.0,0.0,6265003.0,894.0,0.0,0.0,...,0.737,2022,5,14,NaN,2022-05-14,NaN,NaN,NaN,NaN
187568,World,7.874966e+09,521530023.0,348000.0,0.0,0.0,6265629.0,626.0,0.0,0.0,...,0.737,2022,5,15,NaN,2022-05-15,NaN,NaN,NaN,NaN
187569,World,7.874966e+09,522086681.0,556658.0,0.0,0.0,6267383.0,1754.0,0.0,0.0,...,0.737,2022,5,16,NaN,2022-05-16,NaN,NaN,NaN,NaN
187570,World,7.874966e+09,522749874.0,663484.0,0.0,0.0,6269316.0,1941.0,0.0,0.0,...,0.737,2022,5,17,NaN,2022-05-17,NaN,NaN,NaN,NaN
187571,World,7.874966e+09,523452560.0,702686.0,0.0,0.0,6271641.0,2381.0,0.0,0.0,...,0.737,2022,5,18,NaN,2022-05-18,NaN,NaN,NaN,NaN

In [16]:
grouped_countries.columns

Index(['location', 'population', 'total_cases', 'new_cases', 'total_tests',
       'new_tests', 'total_deaths', 'new_deaths', 'icu_patients',
       'hosp_patients', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence',
       'human_development_index', 'year', 'month', 'day', 'continent',
       'complete_dates', 'Alpha-2 code', 'iso_code', 'Numeric code',
       'ISO 3166-2'],
      dtype='object')